{% extends 'base.html.twig' %}

{% block title %}Modifier Annonce{% endblock %}

{% form_theme form "bootstrap_5_horizontal_layout.html.twig" %}

{% block body %}

    <h1>Modifier annonce</h1>
    <h2>Images</h2>
    {% for image in annonce.images %}
        <div>
        <img src="{{ asset('uploads/'~ image.name) }}" alt="image" width="150">
        {% if app.request.attributes.get('_route') == 'annonce_edit' %}
            {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
            <a class="btn btn-primary" href="{{ path('annonce_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endif %}
    {% endfor %}
    {{ include('annonce/_form.html.twig', {'button_label': 'Enregistrer'})}}



    <a class="btn btn-dark btn-lg" href="{{ path('annonce_index') }}" role="button">Liste des annonces</a>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}