{% extends 'base.html.twig' %}

{% block title %}Liste des annonces - {{ parent ()}} {% endblock %}

{% block body %}
<h2>Liste des annonces</h2>
    <div id="listeAnnonce">
        {% for annonce in annonces %}
                <div class="border border-dark bg-white">
                        <img src="{{ annonce.photo }}"
                             class="img-fluid" alt="image de l'animal">
                    <div class="m-2">
                        <p>Date : {{ "now" | date("d/m/Y") }}</p>
                        <p>Ville : {{ annonce.ville }}</p>
                        <p>Rue/quartier : {{ annonce.rue }}</p>
                    </div>
                    <div class="text-center m-2">
                        <a href="{{ path('annonce_detail', {'id' : annonce.id}) }}" class="btn btn-dark btn-sm">
                            Detail</a>
                    </div>
                </div>
            {% else %}
                <p>Aucun produit trouvé !</p>
            {% endfor %}
        </div>
{% endblock %}



