<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="{{ asset('img/LogoAnimauxPerdus.PNG') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <header>
        <div class="container">
            <h1 class="header-logo">
            <img src="{{ asset('img/LogoAnimauxPerdus2.PNG') }}" alt="Logo">
                </a>
            </h1>
            <nav class="header-nav">
                    <a href="{{path("main_home") }}">
                        Accueil
                    </a>
                <a href="{{path("main_actualites") }}" title="Voir les actualités">
                    Actualités
                </a>
                <a href="{{path("annonce_list") }}">
                    Mes annonces
                </a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </main>

    <footer>

        <div class="container"> &copy;Animaux Perdus {{ "now" | date("Y") }}
        </div>
    </footer>

    </body>
</html>
