<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <h1 class="header-logo">
            <img src="{{ asset('img/LogoAnimauxPerdus2.PNG') }}" alt="Logo">
            </a>

        </h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href=" {{ path('main_home') }}">Accueil</a>

                <a class="nav-link active" aria-current="page" href=" {{ path('annonce_index') }}">Les Annonces</a>
                <a class="nav-link active" aria-current="page" href="{{ path('main_guideA') }}">Guide Animal Perdu</a>
                {% if app.user %}
                <a class="nav-link active" aria-current="page" href="{{ path('annonce_new')}}">Publier une annonce</a>
                <a class="nav-link active" aria-current="page" href=" {{ path('user_show', {id: app.user.id}) }}">Profil</a>
                    <a class="nav-link active" aria-current="page" href=" {{ path('app_logout', {id: app.user.id}) }}">Deconnexion</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="nav-link active" aria-current="page" href="{{ path('admin_dashboard') }}">Administration </a>
                        {% endif %}
                    {% else %}
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                        <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Créer un compte</a>
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-9"></div>
            <div class="col">
                <h4>Date : {{ date('now') | date("d/m/Y") }}</h4>
                {% if app.user %}
                    <h4>Utilisateur : {{ app.user.prenom }} {{ app.user.nom }}</h4>
                {% else %}
                    <h4>non connecté</h4>
                {% endif %}
            </div>
        </div>
    </div>
</nav>